.cell {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: #D38B5D;
  margin: 2px;
  display: flex;
  justify-content: center;
}

.cell:hover {
  background-color: #E8C547;
  cursor: pointer;
}

.visitedStyle {
  width: 50px;
  height: 50px;
  margin: 2px;
  border: 0;
  background-color: #56A3A6;
  display: flex;
  justify-content: center;
}
